@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  scroll-behavior: smooth;
}

@keyframes pulseScale {
    from {
      transform: scale(0.5);
      opacity: .25;
    }
    to {
      transform: scale(1.5);
        opacity: 1;
    }
  }

.title-wrapper{
    h1{
        @apply text-[32px] md:text-[40px] font-extrabold text-center text-white;
        line-height: 1.2;
    }
    h2{
        @apply text-3xl md:text-4xl font-extrabold text-center text-white;
    }
    p{
        @apply mt-4 text-lg md:text-2xl text-center text-white/80;
    }
}
.bg-gradient-main{
  background: linear-gradient(90deg, #0011FF 0%, #FF0000 100%);
}
.hover-gradient{
  transition: all .3s ease-in;
  &::hover{
    background: linear-gradient(90deg, #0011FF 0%, #FF0000 100%);
    transition: all .3s ease-in;
  }
}
.hover-red{
  transition: .3s ease-in;
  &:hover{
    background: #ff000083;
    border: none;
  }
  &:active{
    /* border-color: #FF0000; */
    border: 1px solid #FF0000;
  }
}

.hover-blue{
  transition: .3s ease-in;
  &:hover{
    background: #0000ff83;
    border: none;
  }
  &:active{
    border: 1px solid #0000FF;
  }
}

.hover-white{
  transition: .3s ease-in;
  &:hover{
    /* background: #ffffff83; */
    border: none;
  }
  &:active{
    border: 1px solid #FFFFFF;
  }
}

.item-title{
  @apply text-lg md:text-xl font-extrabold text-white;
}
.item-description{
  @apply mt-0 md:mt-4 text-base md:text-lg text-white/70;
}
.container{
  @apply mx-auto px-2 sm:px-6 lg:px-8;
}
.bg-decor-gradient{
    /* background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 70%); */
    /* background: radial-gradient(ellipse at center, rgb(16, 13, 13) 0%, rgba(7, 7, 7, 0.609) 70%); */
    background: linear-gradient(180deg, #00000049 -17.54%, #000000c0 114.47%);
    padding: 5px 10px;
    border-radius: 12px;
}
.bg-decor-gradient-rounded{
    padding: 5px 40px;
    font-size: 28px;
    font-weight: 600;
	  border-radius: 30px;
    background: linear-gradient(180deg, #00000049 -17.54%, #000000c0 114.47%);
}
.bg-shadow-inset{
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    background: linear-gradient(180deg, #00000049 -17.54%, #000000c0 114.47%);
}
.bg-shadow-light{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.515);
    border-radius: 30px;
}
.bg-shadow-blue{
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.500);
  border-radius: 30px;
}
.bg-shadow-red{
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.500);
  border-radius: 30px;
}
/** btn-anim */
.btn.btn-gradient-hover{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    height: 60px;
}
.btn-gradient-hover {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0.535), rgba(255, 0, 0, 0.508), rgba(255, 0, 0, 1), rgba(0, 0, 255, 1));
    background-size: 400%;
    border-radius: 100px;
    z-index: 1;
    animation: animate-gradient 18s linear infinite;
    transition: 0.5s;
  }
  .btn-gradient-hover:hover {
    animation: animate-gradient 8s linear infinite;
  }
  .btn-gradient-hover:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, rgba(0, 0, 255, 1), rgba(0, 0, 255, 0.535), rgba(255, 0, 0, 0.508), rgba(255, 0, 0, 1), rgba(0, 0, 255, 1));
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
  }
  .btn-gradient-hover:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate-gradient 8s linear infinite;
  }
  @keyframes animate-gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  